<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD_UDPDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7CEA08B1DCAE0F700349AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7CEA0A41DCAE0F800349AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7CEA0AF1DCAE0F800349AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
